.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(24, 32, 176), rgb(224, 196, 38));
}

.login-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; /* Adjust as per your logo size */
    margin-bottom: 20px;
}

h6 {
    text-align: center;
    margin-bottom: 20px;
    color: #656464;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #333;
    text-decoration: none;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #0056b3;
    text-decoration: none;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.signup-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.signup-form h1,
.signup-form p {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Added to ensure padding doesn't affect width */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.signup-form p {
    margin-top: 20px;
    text-align: center;
}

.signup-form p a {
    color: #0056b3;
    text-decoration: none;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.auth-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.auth-form h1,
.auth-form h2,
.auth-form p {
    text-align: center;
}

.auth-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; /* Adjust as per your logo size */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[disabled] {
    background-color: #cccccc;
    cursor: default;
}

.auth-back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #0056b3; /* Adjust the color to match your theme */
    text-decoration: none;
}

.btn-verify {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    margin-top: 20px; /* Adjust spacing as needed */
}
